body {
font-family:Comic Sans MS;
margin:30px;
background-color:#ccffff;

} 

h1 {

color:#000066;
text-align: center;
text-shadow:6px 6px #ccccff;

}

h2 {
color:#000066;
margin-top:30px;

}

 table {
 border-collapse: collapse;
 width: 70%;
 margin: 20px auto;
 box-shadow: 2px 2px 8px blue;
 background-color:white;
 border:2px dashed;

}

th,td {
border:2px dashed #0066cc;
padding:5px;
text-align:center;

}

th {
background-color:#00ffff
color:pink;

}

tr:hover {
background-color:#00ffff;
cursor:pointer;

}

ul {
background-color:#ffff99;
width:fit-content;
border-radius:20px;
padding:30px;

}

a {

color:lightcoral;

}
